faksProjekt/WarehouseApp/build/
faksProjekt/WarehouseApp/out/
faksProjekt/WarehouseApp/projekt/Debug/
faksProjekt/WarehouseApp/.vs/
faksProjekt/WarehouseApp/.qtcreator/
faksProjekt/WarehouseApp/Debug/